.backdrop{
    position: fixed;
    overflow: scroll; /* Show scrollbars */
    top: 0;
    left: 25%;
    width: 100%;
    height: 100vh;
    z-index: 20;
    /* background-color: rgba(0, 0, 0, .75); */
}

.closeBut{
    /* border: 2px solid red; */
    margin-top: 2%;
    padding-left: 25rem;
    left: 1%;
}


.cartContainer{
    /* cursor: point/er; */
    position: relative;
    /* animation: moveCart 0.5s forwards; */
    top: 12vh;
    left: 35%;
    /* border-radius: 25px; */
    border: 2px solid salmon;
    background-color:aliceblue;
    width: 39%;
    /* height: 500px; */
    align-items: center;
}

.cartHead{
    color: black;
    font-size: larger;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* align-items: center; */
    /* border: 2px solid red; */
    text-align: center;
}

.cartdetails{
    display: flex;
    text-align: center;
    /* border: 2px solid red; */
    justify-content: space-around;
}
.cartdetails div hr{
    line-height: 1;
    background-color: black;
}

.purchaseButton{
    /* border: 2px solid red; */
    width: 100%;
    padding-left: 40%;
    padding-bottom: 2%;

}
