.cart{
    border: 2px solid #56CCF2;
    position:relative;
    background-color: black;
    border-radius: 7px;
    padding: 2px 20px;
    right: 2.5%;
    margin-left: 10rem
    /* margin-bottom: 12px; */
}

.cart-number{
    position: absolute;
    color: #56CCF2;
    font-size: 20px;
    top: -10px;
    right: -15px;
}
