.navContainer {
    /* background-color: red; */
    width: 50%;
    color: white;
    display: flex;
    margin-left: 25%; 
    justify-content:space-between; 
    align-items: center; 
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.link{
 color: aliceblue;
 text-decoration: none;
}

.head{
    background-color: grey;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: 4%;
    /* border: 2px solid red; */

}

.line{
    color: white;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
      }
  }


 