.navContainer {
    /* background-color: red; */
    width: 30%;
    color: white;
    display: flex;
    margin-left: 35%; 
    justify-content:space-between; 
    align-items: center; 
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}