
.aboutHaed{
    background-color: white;
    color: black;
}

.storeDetails{
    /* border: 2px solid red; */
    display: flex;
    padding-left: 20%;
 
}

.storeDetails :nth-child(1){
   
    width: 10%;
    padding-top: 0.7%;

}
.storeDetails :nth-child(2){
    /* border: 2px solid blue; */
    color: gray;
    width: 20%;
    padding-top: 0.7%;

}
.storeDetails :nth-child(3){
    /* border: 2px solid blue; */
    color: gray;
    width: 30%;
    padding-top: 0.7%;
}
.storeDetails :nth-child(4){
    /* border: 2px solid blue; */
    width: 30%;
   

}
.storeDetails :nth-child(4) Button{
    border: 2px solid blue;
    width: 80%;
    color: aliceblue;
    font-size: medium;
    font-weight: bold;

}